<h1>Create a log url</h1>
<p>Find me in app/views/user/create.html.erb</p>

<form name="signup" action="/stck_it/create" method="post">
Url: <input name="url" 		type="url" value="">
UserId:   <input name="user_id" type="text" value="">
</form>