<h1>Signup</h1>
<p>Find me in app/views/user/create.html.erb</p>

<form name="signup" action="/user/create" method="post">
Email: <input name="email" 		pattern="[^ @]*@[^ @]*" type="email" value="">
Zip:   <input name="zipcode" type="text" value="">
Phone: <input name="phone" type="text" value="">
<input type="submit">
</form>